secondbrain/
.env
.env_copy
.streamlit/secrets.toml
**/*.pyc
toto.txt
*.ipynb
log.txt




# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
**/.pnp
.pnp.js

# testing
**/coverage

# next.js
**/.next/
**/out/

# production
**/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
quivr/*
streamlit-demo/.streamlit/secrets.toml
.backend_env
.frontend_env
backend/core/pandoc-*
**/.pandoc-*
backend/core/application_default_credentials.json

#local models
backend/core/local_models/*


## scripts
.migration_info

## kubenetes secrets 
.backend-configmap.yml
kubernetes/backend-configmap-old.yml
kubernetes/backend-configmap.yml
kubernetes/backend-core-deployment.yml
kubernetes/dns-ingress.yml
kubernetes/frontend-deployment.yml
kubernetes/frontend-configmap.yml
.migration_info_old